---
# tasks file for prometheus-node

- name: prometheus node | create directories
  become: yes
  file:
    path: /opt/prometheus
    recurse: yes
    state: directory

- name: prometheus node | download node-exporter
  become: yes
  get_url:
    url: https://github.com/prometheus/node_exporter/releases/download/v0.14.0/node_exporter-0.14.0.linux-amd64.tar.gz
    checksum: "sha256:d5980bf5d0dc7214741b65d3771f08e6f8311c86531ae21c6ffec1d643549b2e"
    dest: /opt/prometheus/node_exporter-0.14.0.linux-amd64.tar.gz
    force: no

- name: prometheus node | install node-exporter
  become: yes
  unarchive:
    src: /opt/prometheus/node_exporter-0.14.0.linux-amd64.tar.gz
    dest: /opt/prometheus
    group: root
    owner: root
    remote_src: yes

- name: prometheus node | symlink node-exporter
  become: yes
  file:
    src: /opt/prometheus/node_exporter-0.14.0.linux-amd64
    path: /opt/prometheus/node_exporter
    force: yes
    state: link

- name: prometheus node | systemd service
  become: yes
  template:
    dest: "/etc/systemd/system/prometheus-node-exporter.service"
    force: yes
    src: "systemd-system-prometheus-node-exporter-service.j2"
  notify:
  - reload systemd
  - restart prometheus-node-exporter

# Flush handlers to ensure systemd is reloaded
- name: prometheus node | flush systemd handlers
  meta: flush_handlers

- name: prometheus node | enable and start systemd service
  become: yes
  service:
    enabled: yes
    name: prometheus-node-exporter.service
    state: started
